/* .user-dashboard-style {
    display: flex;
    flex-direction: column;
  }
  
  .username-style {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .metrics-style {
    border: 1px solid gray;
  }
  
  .table-style {
    margin-top: 10px;
    border: 1px solid gray;
  }
   */